module/bin/curl/arm64-v8a/libcurl.so filter=lfs diff=lfs merge=lfs -text
module/bin/curl/armeabi-v7a/libcurl.so filter=lfs diff=lfs merge=lfs -text
src/jni/prebuilt/ filter=lfs diff=lfs merge=lfs -text
